@import "../../../styles/vars.scss";

.PaginationButton {
  font-family: "Roboto", sans-serif;
  &__Item {
    display: flex;
    align-items: center;

    
  }

  &__Button {
    width: 40px;
    height: 40px;
    border-radius: $border-radius-default;
    border: 0;
    outline: 0;
    color: $color-text-light;
    font-size: $fz_15;
    background-color: #fafafa;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 5px;

    &:hover {
      background-color: $color-sys-gray;
    }

    &--active {
      background-color: $color-sys-gray;
    }
  }

  
}
