@import "../../../../styles/vars.scss";

.SettingsMainButton {
  width: 632px;
  display: flex;
  justify-content: space-between;

  &__Button {
    height: 49px;
    width: 308px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border-radius: $border-radius-default;
    font-family: $Roboto-ff;
    font-size: $fz_15;
    cursor: pointer;

    &--save {
      transition: all 0.3s;
      background-color: $color-primary;
      color: #fff;

      &:hover {
        background-color: $color-client;
      }
    }

    &--cancel {
      transition: all 0.3s;
      background-color: $color-sys-gray;
      color: $color-text-light;

      &:hover {
        background-color: #f5f5f3;
      }
    }

    &:disabled {
      background-color: $color-primary;
      opacity: 0.5;
      cursor: no-drop;
    }
  }

  
}
