@import "../../../../styles/vars.scss";

.SettingsCategoryIcons {
  &__ImgWrap {
    position: relative;
  }

  &__Hint {
    position: absolute;
    background-color: $color-sys-gray;
    border-radius: $border-radius-default;
    top: -200%;
    width: 300px;
    padding: 5px 16px;
    box-sizing: border-box;
    left: 0;
    color: $color-text;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    &::after {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      background-color: #000;
      bottom: -5px;
      left: 15px;
      transform: rotate(45deg);
      background-color: $color-sys-gray;
    }
  }
}

.SettingsCategoryIcons__ImgWrap:hover > .SettingsHint__Hint {
  opacity: 1;
  visibility: visible;
}
