@import "../../../styles/vars.scss";

.EditingRelated {
  &__Related {
    padding-top: 10px;
    position: absolute;
    width: 446px;
    height: 5px;
    right: 0;
  }

  &__RelatedText {
    font-family: $Cera-ff;
    font-weight: bold;
    font-size: 16px;
    color: $color-text;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__RelatedImg {
    width: 16px;
    height: 18px;
    margin-left: 10px;
    cursor: pointer;
  }

  &__Hint {
    font-family: $Roboto-ff;
    position: absolute;
    font-size: $fz_15;
    line-height: 18px;
    font-weight: normal;
    color: $color-text;
    display: block;
    width: 312px;
    padding: 22px 16px;
    bottom: 30px;
    right: 0;
    background-color: $color-sys-gray;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-sys-gray;
      width: 13px;
      height: 13px;
      bottom: -5px;
      left: 23px;
      transform: rotate(-45deg);
    }
  }

  &__RelatedNon {
    font-family: $Roboto-ff;
    padding-left: 16px;
    margin-top: 42px;
    font-size: $fz_15;
  }
  &__RelatedColor {
    border: 4px solid $color-background;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__RelatedItem {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 40px;
    margin-bottom: 20px;
  }

  &__RelatedList {
    margin-top: 31px;
  }

  &__RelatedTitle {
    text-decoration: none;
    color: $color-text;
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    margin-right: 16px;
    transition: all 0.3s;
    border-radius: $border-radius-default;
    padding-left: 16px;

    &:hover {
      background-color: $color-sys-gray;
    }
  }
}

.EditingRelated__RelatedImg:hover + .EditingRelated__Hint {
  visibility: visible;
  opacity: 1;
}
